body {
    background-image: radial-gradient(white, #0073e6);
    font-family: calibri;
}
header, footer{
    text-align: center;
    font-size: 150%;
    color: white;
    clear:both;
}
#lewy {
    float: left;
    text-align: center;
    color: white;
    width:35%;
}

#prawy{
    float: left;
    text-align: center;
    color: white;
    width:35%;
}
#srodkowy{
    float: left;
    text-align: center;
    color: white;
    width:30%;
}